.menu-list {
	display: grid;

	margin-top: 45px;
	gap: 25px;
}

.menu-list li {
	padding-left: 15px;

	list-style-type: none;

	cursor: pointer;
}

.menu-list li:hover {
	transition: all 0.3s;

	color: rgba(220, 223, 6, 1);
}
