.sidebar.back {
	width: 50%;
	margin: 0 auto;
	padding: 4px;

	cursor: pointer;

	user-select: none;

	border: 1.5px solid var(--primary);
	border-radius: 5px;
	box-shadow: var(--primary-shadow);
}

.sidebar.back:hover {
	transition: all 0.5s;

	background: rgba(220, 223, 6, 0.1);
}
