.search-btn {
	height: 45px;

	margin-left: 5px;
	padding: 0 15px;

	cursor: pointer;
	transition: all 0.4s;

	border-style: none;

	border-radius: 5px;
	background-color: var(--white);
}

.search-btn:hover {
	background-color: var(--primary);
}

.filter {
	display: flex;
	gap: 2rem;
}

.input-field input {
	box-sizing: border-box;
	width: 200px;
	height: 45px;
	padding: 0 10px 0 15px;

	border-style: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(126, 125, 125, 0.6);

	font-family: var(--font-family);
}

.input-field input::placeholder {
	font-family: var(--font-family);
}

.input-field button {
	font-family: var(--font-family);
}
