.movie {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 100%;

	transition: all 0.3s;

	border-radius: 5px;
	background-color: #333;
	box-shadow: none;
}

.movies img {
	flex-grow: 1;

	width: 100%;

	border-radius: 5px 5px 0 0;
}

.movie:hover {
	transform: scale(1.02);

	box-shadow: 0 0 10px rgba(220, 223, 6, 1);
}

.movie img {
	height: 380px;
}

.card.movie {
	height: 100%;
}

.card-title {
	color: var(--white);

	font-size: 22px;
	font-weight: 500;
	line-height: 24px;
}

.card .card-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;

	padding: 10px 10px 10px 15px;
}

.card-content p {
	color: yellow;
}

.movie__rate {
	position: absolute;
	top: 5px;
	right: 5px;

	padding: 5px 10px;

	color: white;

	border-radius: 8px;
}

.rate_high {
	border: 2px solid green;

	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 3px green;
}

.movie__rate.rate_middle {
	border: 2px solid orange;

	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 3px orange;
}

.movie__rate.rate_low {
	border: 2px solid red;

	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 3px red;
}

.movie__rate.rate_await {
	border: 1px solid white;

	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 3px white;
}
